body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.sol {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    position: absolute;
    clip-path: circle(50vh at 0 50%);
    z-index: 1;
}

.planeta,
.nombre-planeta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.planeta {
    border-radius: 50%;
    top: 50%;
    z-index: 2;
}

.nombre-planeta {
    color: white;
    font-size: 15px;
    text-align: center;
    z-index: 2;
}

.mercurio .nombre-planeta {
    bottom: 20px; 
    font-size: 13px;
}

.venus .nombre-planeta {
    bottom: 20px; 
    font-size: 20px;
}

.tierra .nombre-planeta {
    bottom: 25px; 
    font-size: 20px;
}

.marte .nombre-planeta {
    bottom: 15px; 
    font-size: 20px;
}

.jupiter .nombre-planeta {
    bottom: 60px; 
    font-size: 25px;
}

.saturno .nombre-planeta {
    bottom: 35px; 
    font-size: 20px;
}

.urano .nombre-planeta {
    bottom: 30px; 
    font-size: 20px;
}

.neptuno .nombre-planeta {
    bottom: 30px; 
    font-size: 20px;
}

.mercurio {
    background: radial-gradient(circle, #8e8c91 40%, #5c5b5e 100%);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px; 
    margin-left: -25px; 
    animation: orbitaMercurio 8s linear infinite;
}

.mercurio-orbita {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 125vh;
    height: 125vh;
    border: 2px solid white;
    border-radius: 50%;
}

@keyframes orbitaMercurio {
    from {
        transform: rotate(0deg) translateX(62.5vh) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(62.5vh) rotate(-360deg);
    }
}

.venus {
    background: radial-gradient(circle, #edd2a4 40%, #8f5227 100%);
    height: 60px; 
    width: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px; 
    margin-left: -30px;
    animation: orbitaVenus 10s linear infinite; 
}

.venus-orbita {
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translate(-50%, -50%);
    width: 150vh; 
    height: 150vh;
    border: 2px solid white; 
    border-radius: 50%;
}

@keyframes orbitaVenus {
    from {
        transform: rotate(0deg) translateX(75vh) rotate(0deg); 
    }
    to {
        transform: rotate(360deg) translateX(75vh) rotate(-360deg); 
    }
}


.tierra {
    background: radial-gradient(circle, #3d72b4 30%, #336 60%, #1b3b6f 70%, #0a1d37 100%);
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px; 
    margin-left: -35px;

    animation: orbitaTierra 30s linear infinite;
}

.tierra-orbita {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 180vh;
    height: 180vh;
    border: 2px solid white;
    border-radius: 50%;

}

@keyframes orbitaTierra {
    from {
        transform: rotate(0deg) translateX(90vh) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(90vh) rotate(-360deg);
    }
}

.luna-orbita {
    position: absolute;
    top: -60%;
    left: -70%;
    transform: translate(-50%, -50%);
    width: 160px; 
    height: 160px; 
    /* border: 2px solid white; */
    border-radius: 50%;
    animation: orbitaLuna 10s linear infinite; 
}

.luna {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray; 
    border-radius: 50%; 
    top: 0; 
    left: 80px; 
    transform-origin: center; 
    animation: orbitaLuna 5s linear infinite; 
    z-index: 3; 
}

@keyframes orbitaLuna {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}

.marte {
    background: radial-gradient(circle, #ff4b3e 30%, #8b2e16 100%);
    height: 50px;
    width: 50px;
    left: 0;
    margin-top: -25px; 
    margin-left: -40px;
    animation: orbitaMarte 60s linear infinite;
}

.marte-orbita {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 205vh;
    height: 205vh;
    border: 2px solid white;
    border-radius: 50%;

}

@keyframes orbitaMarte {
    from {
        transform: rotate(0deg) translateX(105vh) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(105vh) rotate(-360deg);
    }
}

.jupiter {
    background: radial-gradient(circle, #bcafb5 10%, #8d7b71 30%, #837e6b 50%, #d4ab8c 70%, #ecd2b0 90%);
    height: 150px;
    width: 150px;
    left: 0;
    margin-top: -25px; 
    margin-left: -45px;
    animation: orbitaJupiter 378s linear infinite;
}

.jupiter-orbita {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 235vh;
    height: 235vh;
    border: 2px solid white;
    border-radius: 50%;

}

@keyframes orbitaJupiter {
    from {
        transform: rotate(0deg) translateX(115vh) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(115vh) rotate(-360deg);
    }
}


.saturno {
    background: radial-gradient(circle, #cec6a6 20%, #b1a083 80%);
    height: 90px;
    width: 90px;
    left: 0;
    margin-top: -25px; 
    margin-left: -50px;
    animation: orbitaSaturno 930s linear infinite;
    z-index: 2;
}

.anillo {
    position: absolute;
    width: 150px; 
    height: 150px; 
    border: 20px solid rgba(255, 255, 255, 0.7); 
    border-radius: 50%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
}


.saturno-orbita {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 279vh;
    height: 279vh;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;

}

@keyframes orbitaSaturno {
    from {
        transform: rotate(0deg) translateX(140vh) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(140vh) rotate(-360deg);
    }
}

.urano {
    background: radial-gradient(circle, #1bb6b6 20%, #69c8ec 100%);
    height: 80px;
    width: 80px;
    left: 0;
    margin-top: -25px; 
    margin-left: -50px;
    animation: orbitaUrano 2600s linear infinite;
}

.urano-orbita {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 314vh;
    height: 314vh;
    border: 2px solid white;
    border-radius: 50%;

}

@keyframes orbitaUrano {
    from {
        transform: rotate(0deg) translateX(158vh) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(158vh) rotate(-360deg);
    }
}

.neptuno {
    background: radial-gradient(circle, #2d7dd2 30%, #1e3f8f 70%);
    height: 80px;
    width: 80px;
    left: 0;
    margin-top: -25px; 
    margin-left: -55px;
    animation: orbitaNeptuno 5600s linear infinite;
}

.neptuno-orbita {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340vh;
    height: 340vh;
    border: 2px solid white;
    border-radius: 50%;

}

@keyframes orbitaNeptuno {
    from {
        transform: rotate(0deg) translateX(172vh) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(172vh) rotate(-360deg);
    }
}


