body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol > li {
    margin: 10px 0;
    padding: 10px;

}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
